body {
  /*background: #888888;*/
  margin: 15mm;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.epigraph {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  text-align: end;

}

.task1 {
  font-family: "Times New Roman", Times, serif;
}

.header1 {
  font-size: 14pt;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 0;
}

.paragraph1 {
  font-size: 12pt;
  text-indent: 10mm;
  margin-top: 0;
  margin-bottom: 0;
}

.answer1 {
  font-size: 10pt;
  text-indent: -10mm;
  margin-left: 15mm;
}

.task2 {
  font-family: "Courier New", Courier, monospace;
}

.header2 {
  font-size: 14pt;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 5px;

}

.paragraph2 {
  font-size: 9pt;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.answer2 {

  font-size: 9pt;
  word-spacing: 0.2mm;
  text-indent: 7.5mm;
  margin-left: 65mm;
  margin-right: 16mm;
}

.task3 {
  font-family: "Times New Roman", Times, serif;
  margin-left: 20mm;
  margin-right: 40mm;
}

.header3 {
  font-size: 13pt;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20pt;

}

.paragraph3 {
  text-align: justify;
  font-size: 12pt;
  margin-top: 0;
  margin-bottom: 0;
}

.answer3 {
  font-size: 8pt;
}

.task4 {
  font-family: "times New Roman", Times, serif;
}

.header4 {
  font-size: 17pt;
  text-decoration: underline;
  font-style: italic;
  text-align: end;
  margin-bottom: 0;
}

.paragraph4 {
  text-align: end;
  font-size: 10pt;
  font-style: italic;
  margin-top: 0;
  margin-left: 19mm;
}

.answer4 {
  font-size: 10pt;
  text-align: end;
  font-weight: bold;
  font-style: italic;
  text-indent: -10mm;
  margin-left: 15mm;
}
